<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>remuda.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E5D0AD26148DF0005FB6AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E5D0C326148DF1005FB6AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E5D0CE26148DF1005FB6AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
